
body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-family: Arial;
    font-size: 18px;

}

.overskrift {
    width       : 60%;
    margin      : 15px auto;
    color       : #4A4A4A;
    font-family : 'Raleway',
    sans-serif;
    font-size   : 1.5em;
    font-weight : bold;
}

#nav {
    background-color: #222;
    height: 50px;
}
#nav_wrapper {
    margin: 0 auto;
    position: relative;
    z-index: 5000;

}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#dropdown {
    display: inline-block;
}
#dropdown:hover {
    background-color: #333;
}
#dropdown a {
    color: #CCC;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#dropdown:hover ul {
    display: block;
}
#dropdown ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
}
#dropdown ul li {
    display: block;
}
#dropdown ul li a:hover {
    color: #699;
}
#namenav{
    text-align: right;
    margin-right: 10px;
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
    list-style-type: none;

}
#namenav a {
    color: #CCC;
    display: block;
    text-decoration: none;
}
#logo{
    height: 60px;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    position: absolute;
    top: 0;
}
#logo img{
    height: 100%;


}
#placebidtext{
    border: 1px solid lightgrey;
    margin: 30px;
    padding: 20px;
}
#placebidtext img{
    display: block;
    width: 200px;
}
#personandstars{
    padding: 20px;
    position: relative;
    height: 250px;

}
#sellerimg{
    position: absolute;
    width: 150px;
    padding: 10px;
    left: 50px;
}
#mediumheaders{
    font-family: sans-serif;
    font-size: 1em;

}
#smallheaders{
    font-family: sans-serif;
    font-size: 13px;
    position: absolute;
    left: 35px;
    margin: 10px;
}
#starsimg{
    width: 120px;
    padding: 10px;
    position: absolute;
    right: 90px;
}
#ppheader{
    font-size: 15px;
    margin-left: 30px;
}
#addproductfromuserpage{
    border: 1px solid lightgrey;
    margin: 30px;
    height: 30px;
    position: relative;
    padding: 15px;
    text-decoration: none;

}
#addproductfromuserpage:hover{
    background-color: lightgrey;
}

#starratings{
    position: absolute;
    font-size: 12px;
    right: 40px;
    top: 82px;
}
#purchasedproduct{
    border: 1px solid lightgrey;
    margin: 30px;
    position: relative;
    height: 151px;
}
#boughtproductpic{
    position: absolute;
    height: 130px;
    padding: 10px;
    position: absolute;

}
#sellerproductinfo{
    font-size: 12px;
    left: 210px;
    position: absolute;
}
#newprodlink{
    text-decoration: none;
    color: #222;
}