@(message: String)

@main(title = "Bidding") {
    <h2>All available products</h2>
    @if(Application.getProducts !=null){

        @for(product <- Application.getProducts) {
            @if(product.isIsactive){
                <div id="itemsDiv">
                    <!--  <h:link id="produktboks" outcome="secured/placebid"> -->
                    <div class="item hover">
                        <div class="venstre_boks">
                            <div class="bilde">
                               <!-- <link rel="logo" type="image/png" href="@routes.Assets.at("images/logo.png")">-->
                                <img src="@routes.Assets.at("images/whitebox.jpg")">

                            </div>
                            <div class="info">
                                <div class="title">@product.getProductName</div>
                                <div class="description">@product.getFeatures</div>
                            </div>
                        </div>
                        <div class="hogre_boks">
                            <div class="bid">Highest bid:   @product.getHighestbid $</div>
                        </div>
                    </div>
                    <f:param name="newbid" value="products.getId"/>
                    <!--  </h:link>-->
                </div>
            }
        }
    }

    @if(Application.getProducts == null){
        <p>There are no active products.. </p>
    }

}










