@(message: String)

@main("Welcome") {
    <div class="container">
        <h2>User Login</h2>
      <br>
        <form action ="@routes.Login.login()" method="post">
            <div class="userinfo">
                <label>Username</label> <input name="username"><br>
            </div>
            <div class="userinfo">
                <label>Password</label><input type="password" name="password"><br>
            </div>

            <div class="btns_Form">
                <input type="submit" class="btnActive btnForm" id="btnSignIn" value="Sign in">

            </div>

           <p><a href="@routes.Newuser.index()">Create New User</a></p>
        </form>
    </div>



}
