@(title: String)(content: Html)

<!DOCTYPE html>

<html>

        <!-- Dette er ein mal ein kan bruke generelt på sidene. Den inneheld headaren med logo. -->

    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/Toolbar.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="logo" type="image/png" href="@routes.Assets.at("images/logo.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

            <!-- NAVIGATION BAR -->
        <div id="nav">
            <div id="nav_wrapper">

                <div id="dropdown"><a href="#">☰</a>
                    <ul>
                        <li><a href="">User Page</a></li>
                        <li><a href="">Create New User</a></li>
                        <li><a href="">Create New Product</a></li>
                    </ul>
                </div>
                <div id="logo">
                    <img src="@routes.Assets.at("images/logo.png")"/>
                </div>
            </div>
        </div>


            <!-- Her vil innhaldet bli vist -->
        @content

    </body>
</html>




